# Virtuelle Umgebung ignorieren
venv/

# Python-spezifische Ausschlüsse
__pycache__/
*.pyc
*.pyo
*.pyd

# Log- und temporäre Dateien
*.log
*.tmp

# VSCode spezifische Dateien
.vscode/

# env-Dateien
scripts/.env
